[Unit]
Description=PVPN WireGuard Service
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/pvpn connect
ExecStop=/usr/local/bin/pvpn disconnect
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
